@use 'common/mixins' as *;
@use 'material/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-family: $md3-font-family-base;
  font-size: 16px;
  line-height: $md3-line-height-normal;
  color: var(--md3-color-on-background);
  background-color: var(--md3-color-background);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--md3-color-background);
  color: var(--md3-color-on-background);
  transition:
    background-color $md3-transition-duration-standard
      $md3-transition-easing-standard,
    color $md3-transition-duration-standard $md3-transition-easing-standard;
}
