.graph-placeholder {
  height: 200px;
  border: 1px dashed #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  display: block;
}

ngx-charts-line-chart {
  max-width: 100%;
}
